body {
  margin: 0;
  background-color: black;
  font-family: Arial, sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

h1 {
  color: #1e90ff;
}

input {
  padding: 10px;
  width: 220px;
  border-radius: 4px;
  border: none;
}
